---
layout: default
---
<article class="project">

    <header class="page-header">
        <h1 class="page-title">{{ page.title | escape }}</h1>
        <h3 class="page-description">
            <b>Speed KT</b> is a platform to help companies creating a knowledge base of their processes.
            <span>This knowledge can be created and shared easily across people.</span>
            <span>Tools can be enabled to execute any kind of customizable action using the knowledge base information.</span>
            <span>It is implemented using microservices, each one using diferent technologies.</span>
        </h3>
    </header>

    <div class="post-content">
        {{ content }}
    </div>

</article>
